@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap%22");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap%22");
body {
  background-color: white;
  margin: 0;
}

h1 {
  font-size: 25px;
  font-family: Roboto;
  margin: 0;
}

p {
  font-size: 18px;
  font-family: Roboto;
  margin: 0;
}

img {
  max-width: 100%;
}

header img {
  width: 50%;
  margin-top: 10px;
}

section img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0px 0px;
}

h2 {
  font-family: Roboto;
}

.coeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coeur:hover .fa-heart {
  font-size: 40px;
  border: 4px solid #ffa7e2;
  border-style: double;
  border-radius: 100%;
}

.coeur:hover .fa-regular {
  opacity: 0;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.coeur:hover .fa-solid {
  width: 46px;
  height: 46px;
  border-radius: 1000%;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  opacity: 1;
  position: absolute;
}

.coeur .fa-heart {
  font-size: 30px;
}

.coeur .fa-regular {
  position: absolute;
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.coeur .fa-solid {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  width: 0;
  height: 0;
  background: linear-gradient(20deg, #ff79da 15%, #9356dc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .text {
  width: 100%;
  margin: 10px 0;
  border-top: 2px solid #cfcece;
}

header .text__location {
  background-color: #eaeaea;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
}

header .text__location i {
  margin-right: 10px;
}

header .text__description {
  background-color: #f6f6f6;
  text-align: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .text__description h1 {
  margin: 0px 0px 20px 0px;
}

header .text__description p {
  margin: 0px 0px 20px 0px;
  font-weight: 300;
}

header .text__description a {
  text-decoration: none;
}

header .text__description--bouton {
  width: 100%;
}

header .text__description--bouton .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .text__description--bouton .button .button__link {
  padding: 15px 25px 15px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  border: none;
  font-family: Roboto;
  font-weight: bold;
  background: #9356dc;
  background: linear-gradient(350deg, #9356dc 0%, #ff79da 100%);
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  width: 50%;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  -webkit-box-shadow: 2px 5px 7px #c0bbbb;
          box-shadow: 2px 5px 7px #c0bbbb;
}

header .text__description--bouton .button .button__link:hover {
  -webkit-box-shadow: 2px 5px 7px #6d6d6d;
          box-shadow: 2px 5px 7px #6d6d6d;
}

.header__page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__page--arrow {
  position: absolute;
  left: 5%;
  color: black;
}

.header__page--arrow i {
  font-size: 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

.header__page--arrow i:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background: linear-gradient(20deg, #ff79da 15%, #9356dc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  padding: 20px;
}

nav h1 {
  margin: 40px 0;
}

nav .navigation {
  list-style: none;
  padding: 0;
}

nav .navigation__button {
  background-color: #f6f6f6;
  border-radius: 15px;
  -webkit-box-shadow: 5px 2px 10px #cfcece;
          box-shadow: 5px 2px 10px #cfcece;
}

nav .navigation__button:hover {
  background-color: #f5edff;
}

nav .navigation__button--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  padding: 30px 0;
  margin: 30px 0;
  font-weight: 500;
}

nav .navigation__button--text .notif {
  background-color: #9356dc;
  border-radius: 100%;
  padding: 5px 10px;
  position: absolute;
  left: 10px;
  color: white;
}

nav .navigation__button--text i {
  margin: 0 20px 0 40px;
  color: grey;
}

section {
  background-color: #f6f6f6;
  padding: 20px;
}

section h1 {
  margin: 20px 0;
}

section .carte {
  border-radius: 15px;
  text-decoration: none;
  color: black;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px 2px 10px #cfcece;
          box-shadow: 5px 2px 10px #cfcece;
}

section .carte__text {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  border-radius: 0 0 15px 15px;
}

section .carte__text--name h1 {
  margin: 0;
  font-size: 17px;
}

section .carte__text--name p {
  font-size: 17px;
}

section .carte__text .fa-heart {
  margin-right: 30px;
}

section .carte__text .fa-heart .coeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .carte__text .fa-heart .coeur:hover .fa-heart {
  font-size: 40px;
  border: 4px solid #ffa7e2;
  border-style: double;
  border-radius: 100%;
}

section .carte__text .fa-heart .coeur:hover .fa-regular {
  opacity: 0;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

section .carte__text .fa-heart .coeur:hover .fa-solid {
  width: 46px;
  height: 46px;
  border-radius: 1000%;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  opacity: 1;
  position: absolute;
}

section .carte__text .fa-heart .coeur .fa-heart {
  font-size: 30px;
}

section .carte__text .fa-heart .coeur .fa-regular {
  position: absolute;
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

section .carte__text .fa-heart .coeur .fa-solid {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  width: 0;
  height: 0;
  background: linear-gradient(20deg, #ff79da 15%, #9356dc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.sectionp {
  padding: 0;
}

.sectionp img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 0;
}

.sectionp__carte {
  border-radius: 45px 45px 0 0;
  padding: 10px;
  position: relative;
  margin-top: -50px;
  background-color: #f6f6f6;
}

.sectionp__carte--titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sectionp__carte--titre h1 {
  margin: 0;
  font-family: Shrikhand;
  text-align: center;
}

.sectionp__carte--titre .fa-heart .coeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionp__carte--titre .fa-heart .coeur:hover .fa-heart {
  font-size: 40px;
  border: 4px solid #ffa7e2;
  border-style: double;
  border-radius: 100%;
}

.sectionp__carte--titre .fa-heart .coeur:hover .fa-regular {
  opacity: 0;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.sectionp__carte--titre .fa-heart .coeur:hover .fa-solid {
  width: 46px;
  height: 46px;
  border-radius: 1000%;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  opacity: 1;
  position: absolute;
}

.sectionp__carte--titre .fa-heart .coeur .fa-heart {
  font-size: 30px;
}

.sectionp__carte--titre .fa-heart .coeur .fa-regular {
  position: absolute;
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.sectionp__carte--titre .fa-heart .coeur .fa-solid {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  width: 0;
  height: 0;
  background: linear-gradient(20deg, #ff79da 15%, #9356dc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.sectionp__carte .epd {
  width: 100%;
}

.sectionp__carte .epd h2 {
  margin: 20px 0 10px 20px;
  font-weight: 400;
  font-size: medium;
  line-height: 2;
}

.sectionp__carte .epd__titre {
  position: relative;
  margin-top: 30px;
}

.sectionp__carte .epd__titre:after {
  content: '';
  position: absolute;
  background-color: #99e2d0;
  width: 9%;
  height: 3px;
  bottom: 0;
  left: 0;
}

.sectionp__carte .epd a {
  text-decoration: none;
  color: black;
}

.sectionp__carte .epd__carte {
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 10px;
  position: relative;
  overflow: hidden;
  -webkit-transition: padding-right 500ms ease-in-out;
  transition: padding-right 500ms ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 2px 5px 7px #c0bbbb;
          box-shadow: 2px 5px 7px #c0bbbb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sectionp__carte .epd__carte:hover {
  -webkit-box-shadow: 2px 5px 7px #6d6d6d;
          box-shadow: 2px 5px 7px #6d6d6d;
}

.sectionp__carte .epd__carte--text {
  overflow: hidden;
}

.sectionp__carte .epd__carte--text h2 {
  margin: 10px 0 5px 10px;
  font-size: large;
  font-weight: bold;
  border: none;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sectionp__carte .epd__carte--text p {
  margin: 0px 0 10px 10px;
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sectionp__carte .epd__carte--prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
  padding-right: 10px;
}

.sectionp__carte .epd__carte--check {
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  position: relative;
  margin-right: -70px;
  min-width: 70px;
  height: 80px;
  -webkit-transition: -webkit-transform 700ms ease-in-out;
  transition: -webkit-transform 700ms ease-in-out;
  transition: transform 700ms ease-in-out;
  transition: transform 700ms ease-in-out, -webkit-transform 700ms ease-in-out;
}

.sectionp__carte .epd__carte--check i {
  color: white;
  font-size: 30px;
}

.sectionp__carte .epd__carte:hover .epd__carte--check {
  opacity: 1;
  margin-right: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sectionp__carte .epd__carte:hover .epd__carte--check i {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: -webkit-transform 1000ms ease-in-out;
  transition: -webkit-transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
}

.sectionp .bouton .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionp .bouton .button .button__link {
  padding: 15px 25px 15px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  border: none;
  font-family: Roboto;
  font-weight: bold;
  background: #9356dc;
  background: linear-gradient(350deg, #9356dc 0%, #ff79da 100%);
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  width: 50%;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  -webkit-box-shadow: 2px 5px 7px #c0bbbb;
          box-shadow: 2px 5px 7px #c0bbbb;
}

.sectionp .bouton .button .button__link:hover {
  -webkit-box-shadow: 2px 5px 7px #6d6d6d;
          box-shadow: 2px 5px 7px #6d6d6d;
}

footer {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #323232;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer h2 {
  color: #fff;
  font-size: 17px;
  font-family: Shrikhand;
  margin: 0px 0px 10px 0px;
  font-weight: 100;
}

footer .liens {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .liens a {
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}

footer .liens i {
  margin-right: 10px;
  font-size: 10px;
  font-weight: 900;
}
/*# sourceMappingURL=main.css.map */