header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .text {
        width: 100%;
        margin: 10px 0;
        border-top: 2px solid rgb(207, 206, 206);

        &__location {
            background-color: rgb(234, 234, 234);
            padding: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-weight: 500;

            i {
                margin-right: 10px;
            }
            
        }
        
        &__description {
            background-color: rgb(246, 246, 246);
            text-align: center;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            

            h1{
                margin: 0px 0px 20px 0px;
            }

            p{
                margin: 0px 0px 20px 0px;
                font-weight: 300;
            }

            a {
                text-decoration: none;
            }
            
            &--bouton {
               @include button;
               width: 100%;
                
            }
        
        }
    }
}

.header__page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--arrow{
        position: absolute;
        left: 5%;
        color: black;


        i{
            font-size: 20px;
            transform: scale(1);
            transition-property: transform;
            transition-duration: 1000ms;
            
            &:hover {
                transform: scale(1.5);
                background: linear-gradient(20deg, #ff79da 15%, #9356dc 100%);
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                
            }

        }

    }

}