section {
    background-color: rgb(246, 246, 246);
    padding: 20px;

    h1 {
        margin: 20px 0;
    }

    .carte {
        border-radius: 15px;
        text-decoration: none;
        color: black;
        width: 100%;
        display: block;
        margin-bottom: 20px;
        box-shadow: 5px 2px 10px rgb(207, 206, 206);

        &__text {
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border-radius: 0 0 15px 15px;
            

            &--name {
                h1{
                    margin: 0;
                    font-size: 17px;
                }

                p {
                    font-size: 17px;
                }
            }
            
            
            .fa-regular {
                margin: 10px;
                font-size: 25px;
                display: flex;
                align-items: center;
                transform: scale(1);
                transition-property: transform;
                transition-duration: 1000ms;
              }
              .fa-regular:hover {
                transform: scale(1.5);
                font-size: 30px;
                font-weight: 600;
                background: -moz-linear-gradient(top, #ff79da 15%, #9356dc 100%);
                background: -webkit-linear-gradient(top, #ff79da 15%, #9356dc 100%);
                background: linear-gradient(20deg, #ff79da 15%, #9356dc 100%);
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
              }
        }
    }
}