section {
    background-color: rgb(246, 246, 246);
    padding: 20px;

    h1 {
        margin: 20px 0;
    }

    .carte {
        border-radius: 15px;
        text-decoration: none;
        color: black;
        width: 100%;
        display: block;
        margin-bottom: 20px;
        box-shadow: 5px 2px 10px rgb(207, 206, 206);

        &__text {
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border-radius: 0 0 15px 15px;
            

            &--name {
                h1{
                    margin: 0;
                    font-size: 17px;
                }

                p {
                    font-size: 17px;
                }
            }
            
            
            .fa-regular {
                margin: 10px;
                font-size: 25px;
                display: flex;
                align-items: center;
                transform: scale(1);
                transition-property: transform;
                transition-duration: 1000ms;
              }
              .fa-regular:hover {
                transform: scale(1.5);
                font-size: 30px;
                font-weight: 600;
                background: -moz-linear-gradient(top, #ff79da 15%, #9356dc 100%);
                background: -webkit-linear-gradient(top, #ff79da 15%, #9356dc 100%);
                background: linear-gradient(20deg, #ff79da 15%, #9356dc 100%);
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
              }
        }
    }
}
.sectionp{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img {
        width: 100%;
        overflow: hidden;
        border-radius: 0;
    }

    &__carte {
        border-radius: 45px 45px 0 0;
        padding: 10px;
        position: relative;
        margin-top: -50px;
        background-color: rgb(246, 246, 246);

        &--titre {
            display: flex;
            align-items: center;
            justify-content: space-around;

            h1 {
            margin: 0;
            font-family: Shrikhand;
            text-align: center;
            }
            .coeur {
                font-size: 30px;
                background-image: radial-gradient(circle,red 0%, #0088b5 100%);
                background-position:center;
                background-size:600% 600%; /*a big size to see only the red*/
                text-decoration: none;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-size:150% 150%; /* reduce the size to see the gadient effect*/
                    font-weight: 600;
                }
            }
        }
        

        .epd {
            width: 100%;

            h2 {
                margin: 20px 0 10px 20px;
                font-weight: 400;
                font-size: medium;
                line-height: 2;
            }
            &__titre {
                position: relative;
                margin-top: 30px;

                &:after {
                    content: '';
                    position: absolute;
                    background-color: $color-tertiaire;
                    width: 15%;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                }
            }
            



            
            a{
                text-decoration: none;
                color: black;   
            }    

            &__carte {
                background-color: white;
                border-radius: 15px;
                display: flex;
                padding: 0;
                margin: 10px;
                position: relative;
                overflow: hidden;
                transition: padding-right 500ms ease-in-out;
                cursor: pointer;
                box-shadow: 2px 5px 7px rgb(192, 187, 187);
                box-sizing: border-box;
                

                &:hover {
                box-shadow: 2px 5px 7px rgb(109, 109, 109);
                }

                &--text {  
                    overflow: hidden;
                        
                        
                    h2 {
                        margin: 10px 0 5px 10px;
                        font-size: large;
                        font-weight: bold;
                        border: none;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    p {
                        margin: 0px 0 10px 10px;
                        font-size: small;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                &--prix {
                    display: flex;
                    align-items: flex-end;
                    margin-left: auto;
                    padding-right: 10px;
                }

                &--check {
                    background-color: $color-tertiaire;
                    display: flex;
                    justify-content: center;
                    align-items: center;                    
                    opacity: 1;
                    position: relative;
                    margin-right: -70px;                  
                    min-width: 70px;
                    height: 70px;
                    transition: transform 700ms ease-in-out;
                    
                    i {
                      color: white;
                      font-size: 30px;  
                    }
                }
 
                &:hover .epd__carte--check {
                    opacity: 1;
                    margin-right: 0px;
                    transition: all 0.5s;
                    
                }
                &:hover .epd__carte--check i {
                    transform: rotate(-360deg);
                    transition: transform 1000ms ease-in-out;
                }
            }          
        }
    }
    .button {
        padding: 15px 25px 15px 25px;
        box-sizing: border-box;
        border-radius: 50px;
        border: none;
        font-family: Roboto;
        font-weight: bold;
        background: rgb(147, 86, 220);
        background: linear-gradient(
        350deg,
        rgba(147, 86, 220, 1) 0%,
        rgba(255, 121, 218, 1) 100%
        );
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        width: 50%;
        text-align: center;
        margin-bottom: 20px;
    }
}