.coeur {
    display: flex;
    align-items: center;
    justify-content: center;

    &:active {
        .fa-heart {
            font-size: 40px;
            border: 4px solid rgb(255, 167, 226);
            border-style: double;
            border-radius: 100%;
        }
        .fa-regular {
            opacity: 0;
            transition: 0.5s ease-out;
        }
        .fa-solid {
            width: 46px;
            height: 46px;
            border-radius: 1000%;
            transition: 0.5s ease-in;
            opacity: 1;
            position: absolute;
        }
    }

   .fa-heart {
    font-size: 30px;
   }
    .fa-regular {
    position: absolute;
    opacity: 1;
    transition: 0.5s ease-in;
    }
    .fa-solid {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        width: 0;
        height: 0;
        background: -moz-linear-gradient(top, #ff79da 15%, #9356dc 100%);
        background: -webkit-linear-gradient(top, #ff79da 15%, #9356dc 100%);
        background: linear-gradient(20deg, #ff79da 15%, #9356dc 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.5s ease-out;
    } 
}

