.coeur {
    display: flex;
    align-items: center;     /* alignement des icones sur les axe x et Y */
    justify-content: center;

    &:hover {
        .fa-heart {
            font-size: 40px;
            border: 4px solid rgb(255, 167, 226);
            border-style: double;
            border-radius: 100%;
        }
        .fa-regular {
            opacity: 0;  /* au passage de la souris, le coeur vide disparait */ 
            transition: 0.5s ease-out;
        }
        .fa-solid {
            width: 46px;  /*le coeur plein obtient des dimensions et devient donc visible */ 
            height: 46px;
            border-radius: 1000%;   /* le coeur plein apparait en radial */
            transition: 0.5s ease-in;  /* il apparait en 0.5s doucement */ 
            opacity: 1;
            position: absolute;
        }
    }

   .fa-heart {
    font-size: 30px;
   }
    .fa-regular {  
    position: absolute; /* les icones sont en absolute pour se superposer */
    opacity: 1;  /*l'icone contour s'affiche au dessus du coeur plein */ 
    transition: 0.5s ease-in;
    }
    .fa-solid {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;   
        width: 0;  /* hauteur et largeur nulle pour ne pas apparaitre */ 
        height: 0;
        background: -moz-linear-gradient(top, #ff79da 15%, #9356dc 100%);
        background: -webkit-linear-gradient(top, #ff79da 15%, #9356dc 100%);
        background: linear-gradient(20deg, #ff79da 15%, #9356dc 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.5s ease-out;
    } 
}

