.section {
    background-color: #2980b9;
    height: 100vh;  /* la section prend toute la largeur et la hauteur de l'ecran */
    width: 100vw;
    position: fixed;
    z-index: 10;  /* apparait au dessus de tout le reste */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    font-family: Roboto;
    animation: fade 2s linear forwards;   /*animation "fade" pour que le loader disparaisse au bout de 2s */
    margin: 0;
  }

.loader {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 20px;
    animation: fade 2s linear forwards;
  }

.loader-double {  /*cercle tournant du milieu */
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: white;
    border-bottom-color: white;
    animation: spin 1s linear 0s infinite;  /*animation spin en 1s, ne s'arrete jamais */
    
  }
  .loader-double:after {  /*Cercle tournant interieur */ 
    content: '';
    position: absolute;
    top: 5px; 
    left: 5px;
    bottom: 5px; 
    right: 5px;
    border-radius: 50px;
     border: 6px solid transparent;
    border-top-color: white;
    border-bottom-color: white;
    animation: spinreverse 2s linear 0s infinite;  /*rotation inverse en 2s */
    
    opacity: 0.6;
  }
  .loader-double:before {  /*Cercle tournant exterieur */
    content: '';
    position: absolute;
    top: 15px; 
    left: 15px;
    bottom: 15px; 
    right: 15px;
    border-radius: 50px;
     border: 2px solid transparent;
    border-top-color: white;
    border-bottom-color: white;
    animation: spin 3s linear 0s infinite;  /*rotation spin en 3s pour effet de decallage */ 
    
    opacity: 0.6;
  }

  @keyframes spin {  /* animation rotation 1*/
    0% {   
      transform: rotate(0deg);  /*degrès au début de l'animation */
    }
    100%{
      transform: rotate(360deg);   /*degrès en fin d'animation */
    }
  }
  @keyframes spinreverse {  /*Animation rotation inversée */
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(-360deg); /*rotation en degrès negatifs donc dans le sens inverse */
    }
  }

  @keyframes fade {  /*animation de disparition */
      0% {
          width: 100%;
          height: 100vh;
          opacity: 1;
      }
      80% {
        width: 100%;
        height: 100vh;
          opacity: 1;
          z-index: 10;

      }
      90% {
        width: 100%;
        height: 100vh;
      }
      100% {
          opacity: 0;  /*devient entièrement transparent au dernier moment */
          z-index: -10;  /*passe derriere l'integralité des autres éléments */
          display: none; /*ne s'affiche plus */
      }
  }
