  $color-primaire: #9356dc;
$color-secondaire: #ff79da;
$color-tertiaire: #99e2d0;
$bg-color: white;

@mixin titre-footer {
    color: #fff;
    font-size: 17px;
    font-family: Shrikhand;
    margin: 0px 0px 10px 0px;
    font-weight: 100;
  }

@mixin button {
  padding: 15px 25px 15px 25px;
  box-sizing: border-box;
  border-radius: 50px;
  border: none;
  font-family: Roboto;
  font-weight: bold;
  background: rgb(147, 86, 220);
  background: linear-gradient(
    350deg,
    rgba(147, 86, 220, 1) 0%,
    rgba(255, 121, 218, 1) 100%
  );
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
